#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# RaidTeleporter configuration
########################################
#
#    RaidTeleporter.Enable
#        Description: Enable RaidTeleporter
#        Default:     0 - Disabled
#                     1 - Enabled
#

RaidTeleporter.Enable = 1

########################################
#
#    RaidTeleporter.Mode
#        Description: Sets the Raid Teleporter Mode
#        0 Progression mode - Requires the boss to be dead before a teleport options for it will appear
#        1 Speed farm mode  - Provides a teleport to the next boss in sequence in the instance // note to self at some way to deal with optional bosses
#        2 Target farm mode - Enables all boss teleports regardless of clear status // stretch goal make this depend on the instance for easier target farming on cleared content
#        Default:     0
#
#

RaidTeleporter.Mode = 1

########################################
#
#    RaidTeleporter.Cost
#        Description: Sets the cost for teleports in copper
#        Default:     10000 // 1 Gold
#
#

RaidTeleporter.Cost = 100000